<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-ride="carousel"
  data-interval="2000"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="fixeddiv">
        <img
          class="d-block w-100 slideimg"
          src="https://firebasestorage.googleapis.com/v0/b/manage19000-7b3bf.appspot.com/o/sliderimage%2F1.jpg?alt=media&token=d401dd03-a0be-4fe9-9997-f27aee0ecdb8"
          alt="First slide"
        />
      </div>
    </div>

    <div class="carousel-item">
      <div class="fixeddiv">
        <img
          class="slideimg"
          src="https://firebasestorage.googleapis.com/v0/b/manage19000-7b3bf.appspot.com/o/sliderimage%2F2.jpg?alt=media&token=21f458b8-8285-4029-bef6-d46087fb4bf2"
          alt="Second slide"
        />
      </div>
    </div>

    <div class="carousel-item">
      <div class="fixeddiv">
        <img
          class="d-block w-100 slideimg"
          src="https://firebasestorage.googleapis.com/v0/b/manage19000-7b3bf.appspot.com/o/sliderimage%2F3.jpg?alt=media&token=65e6f017-36a7-44e9-b80f-cffaef86459c"
          alt="Second slide"
        />
      </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="row">
  <div
    class="col-6 col-sm-6 col-lg-3 box"
    style="background-color: #46dba3; text-align: center;"
  >
    <i class="fas fa-tooth fa-4x" style="margin-top: 8%;"></i>

    <span></span>
    <h2 class="littletopmargin">TEETH WITHENING</h2>
    <h4 class="smalltext">
      Tooth whitening can be a very effective way of lightening the natural
      colour of your teeth without removing any of the tooth surface.
    </h4>
  </div>

  <div
    class="col-6 col-sm-6 col-lg-3 box"
    style="background-color: #3dc098; text-align: center;"
  >
    <i class="fas fa-teeth fa-4x" style="margin-top: 8%;"></i>

    <h2 class="littletopmargin">Dental IMPLANTS</h2>
    <h3 class="smalltext">
      Dental implants may be an option for people who have lost a tooth or teeth
      due to periodontal disease, an injury, or some other reason.
    </h3>
  </div>
  <div
    class="col-6 col-sm-6 col-lg-3 box"
    style="background-color: #32909c; text-align: center;"
  >
    <i class="fas fa-syringe fa-4x" style="margin-top: 8%;"></i>

    <h2 class="littletopmargin">EXTRACTIONS</h2>
    <h3 class="smalltext">
      In orthodontics if the teeth are crowded, sound teeth may be extracted to
      create space so the rest of the teeth can be straightened.
    </h3>
  </div>
  <div
    class="col-6 col-sm-6 col-lg-3 box"
    style="background-color: #26739f; text-align: center;"
  >
    <i class="fas fa-shield-virus fa-4x" style="margin-top: 8%;"></i>
    <span></span>
    <h2 class="littletopmargin">GUM DISEASE</h2>
    <h3 class="smalltext">
      Plaque is the primary cause of gum disease. However, other factors can
      contribute to periodontal disease.
    </h3>
  </div>
</div>

<div class="open-sans" style="text-align: center; margin-top: 2%;">
  <h1>Our Team</h1>
</div>

<!-- The slideshow -->
<div class="container-fluid" style="padding-right: 5%; padding-left: 5%;">
  <div class="row">
    <div class="col-6 col-sm-6 col-md-3 card">
      <img [src]="personimage" class="drimage" />
      <h1 style="text-align: center;">Dr. Himanshu</h1>
      <h2 style="text-align: center;">BDS</h2>
    </div>
    <div class="col-6 col-sm-6 col-md-3 card">
      <img [src]="personimage" class="drimage" />
      <h1 style="text-align: center;">Dr. Himanshu</h1>
      <h2 style="text-align: center;">BDS</h2>
    </div>
    <div class="col-6 col-sm-6 col-md-3 card">
      <img [src]="personimage" class="drimage" />
      <h1 style="text-align: center;">Dr. Himanshu</h1>
      <h2 style="text-align: center;">BDS</h2>
    </div>
    <div class="col-6 col-sm-6 col-md-3 card">
      <img [src]="personimage" class="drimage" />
      <h1 style="text-align: center;">Dr. Himanshu</h1>
      <h2 style="text-align: center;">BDS</h2>
    </div>
  </div>
</div>

<div class="open-sans" style="text-align: center; margin-top: 2%;">
  <h1>Patient Safety</h1>
</div>
<div class="container1">
  <div class="c1">
    <img
      src="https://clovedental.in/wp-content/themes/clove-child/images/safety1.png"
      alt="..."
      height="500px"
      width="300px"
      class="firstimage"
    />
    <div>
      <h6 class="imagetitle">10x Safety@Clove</h6>
      <p class="imagesubtitle">
        Enhanced Safety Protocols combatting 2019-nCoV under WHO guidelines to
        ensure 100% sterile clinic for staff, patients and attendants
      </p>
    </div>
  </div>

  <div>
    <div class="container2">
      <div class="c2">
        <img
          src="https://clovedental.in/wp-content/themes/clove-child/images/clove-promise-img.jpg"
          alt="..."
          style="object-fit: fill;"
          class="imagecontain"
        />
        <h6 class="imagetitle">Quality</h6>
        <p class="imagesubtitle">
          Quality being the core value of the organization, the dedicated
          Quality Team at Clove Dental specially assigned ensures the clinics
          provide the highes
        </p>
      </div>

      <div class="c2">
        <img
          src="https://clovedental.in/wp-content/themes/clove-child/images/sterilization-img.jpg"
          alt="..."
          style="object-fit: fill;"
          class="imagecontain"
        />
        <h6 class="imagetitle">4 Step Sterilization</h6>
        <p class="imagesubtitle">
          This is Clove Dental's Trademark process since past many years and
          differentiates Clove clinics from all other Dental Clinics.
        </p>
      </div>
    </div>

    <div class="container3">
      <div class="c2">
        <img
          src="https://clovedental.in/wp-content/uploads/2020/05/PPE-desktop-1.jpg"
          class="rounded"
          alt="..."
          style="object-fit: fill;"
          class="imagecontain"
        />
        <h6 class="imagetitle">Safety Equipment</h6>
        <p class="imagesubtitle">
          Clove Dental now has extensive PPE (Personal Protective Equipment) for
          all Dentists and Dental Assistants.
        </p>
      </div>

      <div class="c2">
        <img
          src="https://clovedental.in/wp-content/themes/clove-child/images/equipment-technology-img.jpg"
          alt="..."
          style="object-fit: fill;"
          class="imagecontain"
        />
        <h6 class="imagetitle">Equipment & Technology</h6>
        <p class="imagesubtitle">
          Clove's modern clinics offer the very latest advantages in dental
          technology and equipment. Clove doctors are continually trained.
        </p>
      </div>
    </div>
  </div>
</div>

<hr />
<div class="backform">
  <form
    [formGroup]="contactform"
    (ngSubmit)="onSubmit(contactform)"
    style="margin-top: 2%; padding-bottom: 2%;"
  >
    <div class="open-sans" style="text-align: center;"><h1>Inquiry</h1></div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="row">
          <div
            class="col-lg-12 col-md-12 col-sm-11 col-11"
            style="justify-content: center;"
          >
            <div class="rightinput">
              <i
                class="fa fa-user"
                style="margin-top: 9px; margin-right: 4px;"
              ></i>
              <input
                class="form-control col-md-6 col-lg-6 col-10 col-xs-10"
                placeholder="Name"
                id="ex1"
                [formControl]="contactform.controls['name']"
                type="text"
                [ngClass]="{
                  greenborder: contactform.controls['name'].valid == true,
                  redborder:
                    !contactform.controls['name'].valid === true &&
                    contactform.controls['name'].pristine === false
                }"
                required
              />
              <span
                *ngIf="
                  !contactform.controls['name'].valid === true &&
                  contactform.controls['name'].pristine === false
                "
                ><i
                  style="color: red; margin-left: 10%;"
                  class="fa fa-exclamation"
                ></i
              ></span>
            </div>
            <div class="rightinput">
              <i
                class="fa fa-phone"
                style="margin-top: 9px; margin-right: 4px;"
              ></i>
              <input
                class="form-control col-md-6 col-lg-6 col-10 col-xs-10"
                id="ex1"
                placeholder="Phone no"
                required
                [formControl]="contactform.controls['phno']"
                [ngClass]="{
                  greenborder: contactform.controls['phno'].valid == true,
                  redborder:
                    !contactform.controls['phno'].valid === true &&
                    contactform.controls['phno'].touched === true
                }"
                required
              />
              <span
                *ngIf="
                  !contactform.controls['phno'].valid === true &&
                  contactform.controls['phno'].touched === true
                "
                ><i
                  style="color: red; margin-left: 10%;"
                  class="fa fa-exclamation"
                ></i
              ></span>
            </div>
            <div class="rightinput">
              <i
                class="fa fa-envelope"
                style="margin-top: 9px; margin-right: 4px;"
              ></i>
              <input
                class="form-control col-md-6 col-lg-6 col-10 col-xs-10"
                placeholder="Email"
                id="ex1"
                [formControl]="contactform.controls['email']"
                [ngClass]="{
                  greenborder:
                    contactform.controls['email'].valid == true &&
                    contactform.controls['email'].touched == true
                }"
                required
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-lg-12">
          <div class="row" style="justify-content: center;">
            <textarea
              style="margin-top: 5%;"
              id="w3review"
              name="w3review"
              placeholder="Your message here..."
              rows="8"
              cols="50"
              required
              [formControl]="contactform.controls['msg']"
              [ngClass]="{
                greenborder: contactform.controls['msg'].valid == true,
                redborder:
                  !contactform.controls['msg'].valid === true &&
                  contactform.controls['msg'].touched === true
              }"
              required
            ></textarea>
            <span
              *ngIf="
                !contactform.controls['msg'].valid === true &&
                contactform.controls['msg'].touched === true
              "
              ><i
                style="color: red; margin-left: 10%;"
                class="fa fa-exclamation"
              ></i
            ></span>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%; display: flex; justify-content: center;">
      <div class="toast" role="alert" data-delay="10000" data-autohide="false">
        <div class="toast-header">
          <button
            type="button"
            class="ml-2 mb-1 close"
            data-dismiss="toast"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="toast-body" style="background-color: rgb(82, 165, 114);">
          Your query has been added Successfully
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <button
        class="button button2"
        style="text-align: center; margin-top: 2%;"
        [disabled]="
          contactform.controls['name'].invalid == true ||
          contactform.controls['phno'].invalid == true ||
          contactform.controls['msg'].invalid == true
        "
        type="submit"
      >
        Send
      </button>
    </div>
  </form>
</div>
<div class="open-sans" style="text-align: center;">
  <h1 style="padding: 2%;">
    Testimonials
  </h1>
</div>
<div class="testimonialcontainer">
  <div class="card cardh">
    <div style="margin: 5% 5% 5% 5%;">
      <div style="display: flex; align-content: center;">
        <div>
          <div class="circle"></div>
        </div>

        <div style="margin-left: 4%;">
          <div class="testimonialtext">
            Dr Pranay , you are a good man and best person who knows and
            understand a patients pain. I am writing to let you know that i was
            happy to meet
          </div>
          <br />
          <b> Pranay</b>

          <h3>Teeth Whitening</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card cardh">
    <div style="margin: 5% 5% 5% 5%;">
      <div style="display: flex; align-content: center;">
        <div>
          <div class="circle"></div>
        </div>

        <div style="margin-left: 4%;">
          <div class="testimonialtext">
            Dr Pranay , you are a good man and best person who knows and
            understand a patients pain. I am writing to let you know that i was
            happy to meet
          </div>
          <br />
          <b> Pranay</b>

          <h3>Teeth Whitening</h3>
        </div>
      </div>
    </div>
  </div>
</div>
