

<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-ride="carousel"
  data-interval="false">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="top-left firstline">
        <div class="col-sm-6 sliderText">
          <h5>WELCOME TO ADHISHREE CLINICS</h5>
          <h1>WE LOVE WHITER TEETH!</h1>
          <h4>YOU CHOOSE CONVENIENT TIME!</h4>
          <p>
            We at Adhishree Dental Clinic the spacializes Best Dental
            clinic in Bilaspur, taking special care in addresing smallest
            of issue related to dental problem of our patient and
            cure/treat acordingly
          </p>
          <button class="button button1">Read more</button>
        </div>
      </div>

     <div class="fixeddiv">
      <img
      class="d-block w-100 slideimg"
      src="../../assets/slide_01.jpg"
      alt="First slide"
    />
     </div>
    </div>

    <div class="carousel-item ">
      <div class="top-left firstline">
        <div class="col-sm-6 sliderText">
          <h5>A BEAUTIFUL SMILE IS OUR TASK!</h5>
          <h1>DENTAL SERVICES </h1>
          <h4>HEALTH TEETH HEALTH BODY</h4>
          <p>
            The dental team are take pride in being a center for multi
            speciality comperhensive dental care,giving your familt the
            advantage of "all under"
          </p>

          <button class="button button1">Read more</button>
        </div>
      </div>
    <div class="fixeddiv">
      <img
      class="slideimg"
      src="../../assets/slide_02.jpg"
      alt="Second slide"
    />
    </div>
    </div>

    <div class="carousel-item ">
      <div class="top-left firstline">
        <div class="col-sm-6 sliderText">
          <h5>HEALTHY KIDS</h5>
          <h1>OUR CONCERNS</h1>
          <h4>DISCOUNT FOR CHILDRENS</h4>
          <p>
            Are you tried of smiling crooked teeth? is it hurting your
            self-estreem? Are you afraid to laugh your heart out in publi
            zfvazmf vjkafnjkc?
          </p>

          <button class="button button1">Read more</button>
        </div>
      </div>
     <div class="fixeddiv">
      <img
      class="d-block w-100 slideimg"
      src="../../assets/slide_03.jpg"
      alt="Second slide"
    />
     </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


  
  <div  class="row">
    <div class="col-6 col-sm-6 col-lg-3  box" style="background-color: #46dba3;text-align: center;">
        <i class="fas fa-tooth fa-4x" style="margin-top: 8%;"></i>
        
        <span></span>
        <h2 class="littletopmargin"> TEETH WITHENING </h2>
        <h4 class="smalltext">Tooth whitening can be a very effective way of lightening the natural colour of your teeth without removing any of the tooth surface.</h4>    
    </div>

    <div class="col-6 col-sm-6 col-lg-3 box" style="background-color: #3dc098;text-align: center;">
      <i class="fas fa-teeth fa-4x" style="margin-top: 8%;"></i>
      
        <h2 class="littletopmargin">Dental IMPLANTS</h2>
        <h3 class="smalltext">Dental implants may be an option for people who have lost a tooth or teeth due to periodontal disease, an injury, or some other reason.</h3>    
   </div>
    <div class="col-6 col-sm-6 col-lg-3 box" style="    background-color:#32909c ;text-align: center;">
       
      <i class="fas fa-syringe fa-4x" style="margin-top: 8%;"></i>
      
        <h2 class="littletopmargin">  EXTRACTIONS </h2>
        <h3 class="smalltext">In orthodontics if the teeth are crowded, sound teeth may be extracted to create space so the rest of the teeth can be straightened.</h3>    
   </div>
    <div class="col-6 col-sm-6 col-lg-3 box" style="   background-color: #26739f;text-align: center;">
      <i class="fas fa-shield-virus fa-4x"  style="margin-top: 8%;"></i>
        <span></span>
        <h2 class="littletopmargin">GUM DISEASE</h2>
        <h3 class="smalltext">Plaque is the primary cause of gum disease. However, other factors can contribute to periodontal disease.</h3>    
   </div>
  </div>


  <hr>
 <div style="text-align: center;">
  <h1>Patient Safety</h1>
 </div>
  <div class="container1">
   
      <div class="c1">
      <img
        src="https://clovedental.in/wp-content/themes/clove-child/images/safety1.png"
        class="rounded"
        alt="..."
        height="400px"
        width="250px"
        class="firstimage"
      />
      <div>
        <h6 class="imagetitle">10x Safety@Clove</h6>
      <p class="imagesubtitle">
        Enhanced Safety Protocols combatting 2019-nCoV under WHO guidelines to
        ensure 100% sterile clinic for staff, patients and attendants
      </p>
      </div>
    </div>
    
   <div>
    <div class="container2">
      <div class="c2">
        <img
        src="https://clovedental.in/wp-content/themes/clove-child/images/clove-promise-img.jpg"
        class="rounded"
        alt="..."
        style="object-fit: fill;"
        class="imagecontain"
      />
      <h6 class="imagetitle">Quality</h6>
      <p class="imagesubtitle">
        Quality being the core value of the organization, the dedicated
        Quality Team at Clove Dental specially assigned ensures the clinics
        provide the highes
      </p>
      </div>
  
      <div class="c2">
        <img
        src="https://clovedental.in/wp-content/themes/clove-child/images/sterilization-img.jpg"
        class="rounded"
        alt="..."
        style="object-fit: fill;"
        class="imagecontain"
      />
      <h6 class="imagetitle">4 Step Sterilization</h6>
      <p class="imagesubtitle">
        This is Clove Dental's Trademark process since past many years and
        differentiates Clove clinics from all other Dental Clinics.
      </p>
      </div>
    </div>

    <div class="container3">
      <div class="c2">
        <img
                src="https://clovedental.in/wp-content/uploads/2020/05/PPE-desktop-1.jpg"
                class="rounded"
                alt="..."
                style="object-fit: fill;"
                class="imagecontain"
              />
              <h6 class="imagetitle">Safety Equipment</h6>
              <p class="imagesubtitle">
                Clove Dental now has extensive PPE (Personal Protective Equipment)
                for all Dentists and Dental Assistants.
              </p>
      </div>
  
      <div class="c2">
        <img
                src="https://clovedental.in/wp-content/themes/clove-child/images/equipment-technology-img.jpg"
                class="rounded"
                alt="..."
                style="object-fit: fill;"
                class="imagecontain"
              />
              <h6 class="imagetitle">Equipment & Technology</h6>
              <p class="imagesubtitle">
                Clove's modern clinics offer the very latest advantages in dental
                technology and equipment. Clove doctors are continually trained.
              </p>
      </div>
    
    </div>
   </div>
  </div>
  
  <hr>
  <div style="text-align: center;"><h1>
    Testimonials
  </h1></div>
  <div class="container-fluid" style="width: 80%;display: flex;">
    <div class="card cardh">
      <div style="margin:5% 5% 5% 5%;">
      <div style="display: flex;align-content: center;">
       
       
          <div>
            <div class="circle">
            </div>
          </div>
      

          <div style="margin-left: 4%;">
            <div class="testimonialtext" >
         
              Dr Pranay , you are a good man and best person who knows and understand a patients pain. 
              I am writing to let you know that i was happy to meet
            </div>
           <br>
          <b> Pranay</b>
      
           <h3>Teeth Whitening</h3>
          </div>
      </div> 
    </div>  
    </div>
    <div class="card cardh" style="margin-left: 4%;">
      <div style="margin:5% 5% 5% 5%;">
      <div style="display: flex;align-content: center;">
       
       
          <div>
            <div class="circle">
            </div>
          </div>
      

          <div style="margin-left: 4%;">
            <div class="testimonialtext" >
         
              Dr Pranay , you are a good man and best person who knows and understand a patients pain. 
              I am writing to let you know that i was happy to meet
            </div>
           <br>
          <b> Pranay</b>
      
           <h3>Teeth Whitening</h3>
          </div>
      </div> 
    </div>  
    </div>
  </div>
   
<hr>
<div class="firstline" style="text-align: center;">
  <h1  style="text-align: center;">Our Team</h1>
  <h5>All staff members of Dental Clinic are licensed professionals. Our staff consists of licensed general dentists, hygienists, dental assis-
    tants, an endodontist, a periodontist, and an oral surgeon.</h5>
</div>


  
  <!-- The slideshow -->
  <div class="no-padding">
    <div class="row">
      <div class="col-6 col-sm-6 col-md-3 card ">
        <img [src]="personimage" class="drimage">
        <h1 style="text-align: center;">Dr. Himanshu</h1>
        <h2 style="text-align: center;">BDS</h2>
      </div>    
      <div class="col-6 col-sm-6 col-md-3 card">
        <img [src]="personimage" class="drimage">
        <h1 style="text-align: center;">Dr. Himanshu</h1>
        <h2 style="text-align: center;">BDS</h2>
      </div>    
      <div class="col-6 col-sm-6 col-md-3 card">
        <img [src]="personimage"class="drimage">
        <h1 style="text-align: center;">Dr. Himanshu</h1>
        <h2 style="text-align: center;">BDS</h2>
      </div>   <div class="col-6 col-sm-6 col-md-3 card">
        <img [src]="personimage" class="drimage">
        <h1 style="text-align: center;">Dr. Himanshu</h1>
        <h2 style="text-align: center;">BDS</h2>
      </div>    
    </div>
    </div>
   





