<div class="titleheading">
  About us
</div>

<div class="container-fluid">
  <div class="open-sans" style="text-align: center;">
    <h1>Welcome to Adhishree dental clinic</h1>
  </div>

  <div class="aboutcontainer">
    <img
      style="float: left; padding: 0 10px 0 0;"
      src="https://www.drshiblisyed.com/img/Main/about.jpg"
      alt="..."
      height="300px"
      width="300px"
    />
    <p class="aboutusp">
      Creating Infectious Smiles! Their smiles are infectious. So infectious
      that their patients smile with them despite their pain!<br /><br />
      They are Pune’s most acclaimed dental clinic, FDOC’s dentists, Dr. Shibli
      Syed, Dr. Shoaib Syed, & Dr. Saina Elahi Syed; and everything about them &
      their chain of clinics, FDOC Multi-speciality Dental Chains is worth
      smiling about, right from the time one enters their clinics at East Street
      & Kasbapeth in Pune! <br /><br />
      all started in the year 2010 when the 3rd topper in BDS from MUHS Nashik,
      the young Dr. Shibli, started his single-chair practice at Kasbapeth. With
      dedication and hard work, it grew to double-chairs in 2013. Today joined
      by his brother Dr. Shoaib, an endodontist & FDOC’s root-canal specialist,
      the clinic has crossed milestones in dentistry, with a 3-chair Clinic & a
      Dental Academy! <br /><br />
      Shoaib Syed, the Director of this dental clinic located in Camp in Pune,
      also manages the FDOC Dental Academy. About the thought behind the FDOC
      Academy, Dr. Shoaib modestly described it as an attempt to give back to
      the profession which has given them so much & describes it as a training
      ground for fellow practitioners wanting to hone their skills in varied
      dental procedures. When asked about what gives him most satisfaction in
      his work, Dr Shoaib replied that it’s the smile on his patients’ faces
      which till a while back writhed in pain due to tooth decay. The change was
      obviously due to a successful root-canal procedure at FDOC! Besides Dr
      Shoaib, there is Dr. Saina, a Periodontist & Implantologist, FDOC’s gums
      and implant specialist whose happy moments are when implants give new life
      to a toothless mouth. Such cases are plenty at the clinics.
    </p>
  </div>

  <div style="margin-left: 3%; margin-bottom: 5%; word-wrap: normal;">
    <div class="open-sans" style="text-align: center;">
      <h1>OUR MISSION</h1>
    </div>
    <img
      style="float: right;"
      src="https://i.ytimg.com/vi/fbBNmc1lVvw/maxresdefault.jpg"
      alt="..."
      height="200px"
      width="300px"
    />
    <span class="aboutusp">
      Our mission at Smilecure Multispeciality Dental Clinic is to make your
      smile perfect and we do so with the help of the very latest in dental
      innovations and techniques which are in par with international standards
      and give the best dental treatment possible at affordable costs.
    </span>

    <p></p>
    <ul class="aboutusp">
      <li>
        Our Dental Clinic is dedicated to providing the most up to date general
      </li>
      <li>orthodontic and family dentistry.</li>
      <li>
        Our Clinic has grown to provide a world class facility for the treatment
        of tooth loss, dental cosmetics and advanced restorative dentistry.
      </li>
      <li>
        Our Dental Clinic is dedicated to providing the most up to date general
      </li>
    </ul>
  </div>
</div>
