<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-ride="carousel"
  data-interval="2000"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="top-left firstline">
        <div class="col-sm-6 sliderText">
          <h5>WELCOME TO ADHISHREE CLINICS</h5>
          <h1>WE LOVE WHITER TEETH!</h1>
          <h4>YOU CHOOSE CONVENIENT TIME!</h4>
          <p>
            We at Adhishree Dental Clinic the spacializes Best Dental clinic in
            Bilaspur, taking special care in addresing smallest of issue related
            to dental problem of our patient and cure/treat acordingly
          </p>
          <button class="button button1">Read more</button>
        </div>
      </div>

      <div class="fixeddiv">
        <img
          class="d-block w-100 slideimg"
          src="../../assets/slide_01.jpg"
          alt="First slide"
        />
      </div>
    </div>

    <div class="carousel-item">
      <div class="top-left firstline">
        <div class="col-sm-6 sliderText">
          <h5>A BEAUTIFUL SMILE IS OUR TASK!</h5>
          <h1>DENTAL SERVICES</h1>
          <h4>HEALTH TEETH HEALTH BODY</h4>
          <p>
            The dental team are take pride in being a center for multi
            speciality comperhensive dental care,giving your familt the
            advantage of "all under"
          </p>

          <button class="button button1">Read more</button>
        </div>
      </div>
      <div class="fixeddiv">
        <img
          class="slideimg"
          src="../../assets/slide_02.jpg"
          alt="Second slide"
        />
      </div>
    </div>

    <div class="carousel-item">
      <div class="top-left firstline">
        <div class="col-sm-6 sliderText">
          <h5>HEALTHY KIDS</h5>
          <h1>OUR CONCERNS</h1>
          <h4>DISCOUNT FOR CHILDRENS</h4>
          <p>
            Are you tried of smiling crooked teeth? is it hurting your
            self-estreem? Are you afraid to laugh your heart out in publi
            zfvazmf vjkafnjkc?
          </p>

          <button class="button button1">Read more</button>
        </div>
      </div>
      <div class="fixeddiv">
        <img
          class="d-block w-100 slideimg"
          src="../../assets/slide_03.jpg"
          alt="Second slide"
        />
      </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="containe-fluid">
  <div class="row Row">
    <div class="col-lg-3 col-sm-6 col-6 column">
      <div>
        <img
          src="https://t2conline.com/wp-content/uploads/2019/04/thumbnail_Minor_Injury_Walk_In_Clinic1.jpg"
          alt="..."
          class="img-thumbnail imagecontain"
        />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6 column">
      <img
        src="https://businessday.ng/wp-content/uploads/2019/06/Clinic.jpg"
        alt="..."
        class="img-thumbnail imagecontain"
      />
    </div>
    <div class="col-lg-3 col-sm-6 col-6 column">
      <img
        src="https://practo-fabric.s3.amazonaws.com/dr-batra-s-positive-health-clinic-pvt-ltd-mumbai-1455792774-56c5a28636396.jpg"
        alt="..."
        class="img-thumbnail imagecontain"
      />
    </div>
    <div class="col-lg-3 col-sm-6 col-6 column">
      <div>
        <img
          src="https://t2conline.com/wp-content/uploads/2019/04/thumbnail_Minor_Injury_Walk_In_Clinic1.jpg"
          alt="..."
          class="img-thumbnail imagecontain"
        />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6 column">
      <img
        src="https://businessday.ng/wp-content/uploads/2019/06/Clinic.jpg"
        alt="..."
        class="img-thumbnail imagecontain"
      />
    </div>
    <div class="col-lg-3 col-sm-6 col-6 column">
      <img
        src="https://practo-fabric.s3.amazonaws.com/dr-batra-s-positive-health-clinic-pvt-ltd-mumbai-1455792774-56c5a28636396.jpg"
        alt="..."
        class="img-thumbnail imagecontain"
      />
    </div>
    <div class="col-lg-3 col-sm-6 col-6 column">
      <div>
        <img
          src="https://t2conline.com/wp-content/uploads/2019/04/thumbnail_Minor_Injury_Walk_In_Clinic1.jpg"
          alt="..."
          class="img-thumbnail imagecontain"
        />
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-6 column">
      <img
        src="https://businessday.ng/wp-content/uploads/2019/06/Clinic.jpg"
        alt="..."
        class="img-thumbnail imagecontain"
      />
    </div>
    <div class="col-lg-3 col-sm-6 col-6 column">
      <img
        src="https://practo-fabric.s3.amazonaws.com/dr-batra-s-positive-health-clinic-pvt-ltd-mumbai-1455792774-56c5a28636396.jpg"
        alt="..."
        class="img-thumbnail imagecontain"
      />
    </div>
    <div class="col-lg-3 col-sm-6 col-6 column">
      <img
        src="https://practo-fabric.s3.amazonaws.com/dr-batra-s-positive-health-clinic-pvt-ltd-mumbai-1455792774-56c5a28636396.jpg"
        alt="..."
        class="img-thumbnail imagecontain"
      />
    </div>
    <div class="col-lg-3 col-sm-6 col-6 column">
      <img
        src="https://practo-fabric.s3.amazonaws.com/dr-batra-s-positive-health-clinic-pvt-ltd-mumbai-1455792774-56c5a28636396.jpg"
        alt="..."
        class="img-thumbnail imagecontain"
      />
    </div>
    <div class="col-lg-3 col-sm-6 col-6 column">
      <img
        src="https://practo-fabric.s3.amazonaws.com/dr-batra-s-positive-health-clinic-pvt-ltd-mumbai-1455792774-56c5a28636396.jpg"
        alt="..."
        class="img-thumbnail imagecontain"
      />
    </div>
  </div>
</div>
