.map-responsive{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
   
  
}
.map-responsive iframe{
    left:0;
    top:0;
    height: 100%;
    width:100%;
    position:absolute;
}
.titleheading {
    text-align: left;
    padding-top: 2%;
    height: 100px;
    padding-left: 5%;
    background-image: url("http://www.smilecure.in/images/bg_pattern_wt_transp2.png");
    font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: #225586;
  }

.grr{
    color: grey;
    padding-top: 3%;
}
.sidetitle{
    font-size: 22px;
    color: rgb(61, 58, 58);
    font-weight: lighter;
    height: 40px;
    background-color: rgb(219, 196, 105);
   
}
.rightinput{
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}
.greenborder{
    border: green 4px solid;
}
.redborder{
    border: red 4px solid;
}
.blueborder{
    border: rgb(53, 114, 184) 4px solid;
}




