
  .greenborder{
    border: green 2px solid;
  
}
.redborder{
    border: red 2px solid;
  
}
.blueborder{
    border: rgb(53, 114, 184) 2px ;
    border-style: solid;

    
}
.greendateborder{
  border: green 2px solid;
 
}
.reddateborder{
  border: red 2px solid;

}
.bluedateborder{
  border: rgb(53, 114, 184) 2px ;
  border-style: solid;

  
}

.margintop{
  margin-top: 5%;
}
.bluesquareborder{
  border: rgb(53, 114, 184) 2px ;
  border-style: solid;
}
.greensquareborder{
  border: green 2px solid;
}
.displaynone{
  visibility: hidden;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.backgroundblue{
	width: 100%;
  background-color: rgba(0,147,173,0.7);
  margin-right: 0px;
  margin-left: 0px;

  }
.bg{
  overflow: hidden;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
	background-image:url(../../assets/background.jpg);
}
.alertdanger{
  background-color: rgb(216, 157, 157);
  color: rgb(145, 42, 42);
}