




<div class="titleheading">
  BOOK APPOINTMENT
</div>
  
  


<div class="bg" >

<div class="row backgroundblue">
  <div class="col-lg-7 col-md-7 col-sm-12 col-12" >
    <div  style="text-align: center;padding-top: 10%;">
      <h1>Book You Slot Now and Save your time</h1>
      <p>Simple And Easy Appointments </p>
      <h2>For Help Call : +189-123-453</h2>
   
    </div>
  </div>
  <div class="col-lg-5 col-md-5 col-sm-12 col-12">
    <div class="col-lg-7" style="background-color: white;margin-top: 4%;margin-bottom:4%;text-align: center;">
      <div class="col-lg-12 open-sans">
        <h1>Book Appointment</h1>
      </div>
      <hr>
      <form [formGroup]="appointmentform" (ngSubmit)="onSubmit(appointmentform)" >
        <div class="col-lg-12 d-flex justify-content-center margintop">
          
      
          <input class="form-control" placeholder="Name *" id="ex1"  [formControl]="appointmentform.controls['name']" type="text"
          [ngClass]="{'greenborder' : appointmentform.controls['name'].valid==true,'redborder': !appointmentform.controls['name'].valid === true && appointmentform.controls['name'].touched ===true,'blueborder': appointmentform.controls['name'].touched === false && appointmentform.controls['name'].pristine === true}"
          required >
          <span *ngIf="!appointmentform.controls['name'].valid === true && appointmentform.controls['name'].pristine ===false"><i style="color: red;margin-left: 10%;" class="fa fa-exclamation"></i></span>
       
        </div>
     
        <div class="col-lg-12 d-flex justify-content-center margintop">     
     
          <input class="form-control " placeholder="Phno *" id="ex2"  [formControl]="appointmentform.controls['phno']" type="text"
          [ngClass]="{'greenborder' : appointmentform.controls['phno'].valid==true,'redborder': !appointmentform.controls['phno'].valid === true && appointmentform.controls['phno'].touched ===true,'blueborder': appointmentform.controls['phno'].touched === false && !appointmentform.controls['phno'].valid===true}"
          required >
          <span *ngIf="!appointmentform.controls['phno'].valid === true && appointmentform.controls['phno'].touched ===true"><i style="color: red;margin-left: 10%;" class="fa fa-exclamation"></i></span>
        </div>
        <div class="col-lg-12 d-flex justify-content-center margintop " >     
    
          <input class="form-control"   placeholder="Confirm phno *" id="ex5" autocomplete="off" [formControl]="appointmentform.controls['confirmphno']" type="text"
          [ngClass]="{'greenborder' : appointmentform.controls['confirmphno'].valid==true,'redborder': !appointmentform.controls['confirmphno'].valid === true && appointmentform.controls['confirmphno'].touched ===true,'blueborder': appointmentform.controls['confirmphno'].touched === false && !appointmentform.controls['confirmphno'].valid===true}"
          required autocomplete="off" >
          <span *ngIf=" !appointmentform.controls['confirmphno'].valid === true && appointmentform.controls['confirmphno'].touched ===true"><i style="color: red;margin-left: 10%;" class="fa fa-exclamation"></i></span>
       
       
        </div>  <div class="alert alert-danger" style="height: 30px;" *ngIf="appointmentform.controls['confirmphno'].valid==false && appointmentform.controls['confirmphno'].touched==true">
          Phone number doesn't match
        </div>
       
     
       
        <div class="col-lg-12 d-flex justify-content-center margintop">
       
          <input class="form-control" placeholder="Email" id="ex3"
          [formControl]="appointmentform.controls['email']"
          
          [ngClass]="{'greenborder' : appointmentform.controls['email'].valid==true,'blueborder': appointmentform.controls['email'].touched === false && !appointmentform.controls['email'].valid===true  ||  checkifemailempty(appointmentform )===true,
          'redborder' : appointmentform.controls['email'].invalid==true &&  appointmentform.controls['email'].touched==true
        }"

          required > 
          <span *ngIf=" appointmentform.controls['email'].invalid==true &&  appointmentform.controls['email'].touched==true && checkifemailempty(appointmentform)==false"><i style="color: red;margin-left: 10%;" class="fa fa-exclamation"></i></span>
        
     </div>
     <hr>
     <div class="open-sans">
       <h2>Select Date</h2>
   
     </div>
     <div class="col-lg-12 d-flex justify-content-center margintop">
     
            <input  placeholder="yyyy-mm-dd"  [formControl]="appointmentform.controls['dates']"
                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker"
                    style="height: 40px;"
                   [ngClass]="{'redborder': model==null && appointmentform.controls['dates'].touched == true ,'greenborder':!(model==null),'blueborder':model==null && appointmentform.controls['dates'].touched==false }"      
            >
            <button class="blueborder" type="button" (click)="d.toggle()"><i class="far fa-calendar-alt"></i></button>
 </div>
 <div class="col-lg-12" style="text-align: center;"
 [ngClass]="{'displaynone':model==null,'alertdanger':closed==true && checkavailablilticlicked==true}"      
 >
   <h3>{{closedmsg}}</h3>
 </div>

    <div class="col-lg-12 d-flex justify-content-center">
      <button class="btn btn-success" style="margin-bottom: 4%;" 
          [disabled]="appointmentform.controls['name'].invalid==true || appointmentform.controls['confirmphno'].invalid==true ||model==null "
      type="submit">Book Appointment </button>
    </div>
  


      <div class="toast" role="alert" data-delay="10000" data-autohide="false"
      style="top: 50%;left: 30%;position:fixed;
      width: 70%;"
      >
        <div class="toast-header">
       
            <button style="float: right;" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div  class="toast-body" style="background-color: #5cb85c;">Your Appointment has been booked Successfully</div>
      </div>



    </form>
    </div>
  </div>
</div>
</div>

